
      <main class="content">
        <div class="post-container">
          <h3 class="post-title">Trabalho realizado por</h3>
          <div class="post-content">
            <table>
              <tr>
                <td><a class="user_cp_link" href="mailto:v.pinzhuro@campus.fct.unl.pt?subject=DAWeb">Vladislav Pinzhuro, 34224</a></td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="mailto:fjcs.ventura@gmail.com?subject=DAWeb">Fernando Ventura, 42033</a></td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="report.html">Relatório</a></td>
              </tr>
            </table>
          </div>
        </div>
      </main><!-- .content -->
