
      <main class="content">
        <div class="pesquisa">
          Procurarar utilizadores
          <form method="get" action="search.html">
            <table>
              <tr>
                <td>
                  <input type="text" name="zoom_query" id="search_query">
                </td>
                <td>
                  <input type="submit" value="" id="search_button">
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="post-container">
          <h3 class="post-title">Conctactos</h3>
          <div class="post-content">
            <table>
              <tr class="first_row">
                <td>Nome</td><td>Especialização</td><td>País</td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="#">Dummy 1</a></td><td><a class="user_cp_link" href="#">IT</a></td><td><a class="user_cp_link" href="#">Portugal</a></td></td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="#">Dummy 2</a></td><td><a class="user_cp_link" href="#">IT</a></td><td><a class="user_cp_link" href="#">Portugal</a></td></td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="#">Dummy 3</a></td><td><a class="user_cp_link" href="#">IT</a></td><td><a class="user_cp_link" href="#">Portugal</a></td></td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="#">Dummy 4</a></td><td><a class="user_cp_link" href="#">IT</a></td><td><a class="user_cp_link" href="#">Portugal</a></td></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="post-container">
          <h3 class="post-title">Pedidos de contacto pendentes</h3>
          <div class="post-content">
            <table>
              <tr class="first_row">
                <td>Nome</td><td>Assunto</td>
              </tr>
              <tr>
                <td><a class="user_cp_link" href="#">Dummy 2</a></td><td><a class="user_cp_link" href="#">What’s up?</a></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="post-form">
          <h3 class="post-form-title">Enviar pedido de contacto</h3>
          <form class="comment-form">
            <table>
              <tr>
                <td>Destinatário:</td><td><input type='text' name='name' id='user' /></td>
              </tr>
              <tr>
                <td>Assunto:</td><td><input type='text' name='name' id='title' /></td>
              </tr>
              <tr>
                <td>Mensagem:</td><td><textarea name='post' id='message' cols="50" rows="10"></textarea></td>
              </tr>
              <tr>
                <td colspan="2" id="button_contact"><input type="submit"></td>
              </tr>
            </table>
          </form>
        </div>
      </main><!-- .content -->
