<main class="content">
    <div class="post-container">
      <h3 class="post-title">Post Title</h3>
      <div class="post-thumb"><img src="http://www.prostomac.com/wp-content/uploads/2013/04/dummy-escape-icon.jpg" alt="thumb" /></div>
      <div class="post-content">
        <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc  </p>
      </div>
      <div class="post-footer">
        <img src="http://d1vu33opq27khs.cloudfront.net/application-com.LevelZed.DummyEscapeLite-icon" alt="avatar"/>
        <span class="name"><a href="#">Dummy</a></span> on 19.01.2013
        <span class="share"><a href="#">Partilhar</a></span>
      </div>
    </div>
    <div class="post-container">
      <h3 class="post-title">Post Title</h3>
      <div class="post-thumb"><img src="http://www.prostomac.com/wp-content/uploads/2013/04/dummy-escape-icon.jpg" alt="thumb"/></div>
      <div class="post-content">
        <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc  </p>
      </div>
      <div class="post-footer">
        <img src="http://d1vu33opq27khs.cloudfront.net/application-com.LevelZed.DummyEscapeLite-icon" alt="avatar"/>
        <span class="name"><a href="#">Dummy</a></span> on 18.01.2013
        <span class="share"><a href="#">Partilhar</a></span>
      </div>
    </div>
    <div class="post-container">
      <h3 class="post-title">Post Title</h3>
      <div class="post-thumb"><img src="http://www.prostomac.com/wp-content/uploads/2013/04/dummy-escape-icon.jpg" alt="thumb"/></div>
      <div class="post-content">
        <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc  </p>
      </div>
      <div class="post-footer"><img src="http://d1vu33opq27khs.cloudfront.net/application-com.LevelZed.DummyEscapeLite-icon" alt="avatar"/>
        <span class="name"><a href="#">Dummy</a></span> on 17.01.2013
        <span class="share"><a href="#">Partilhar</a></span>
      </div>
    </div>
    <div class="post-form">
      <h3 class="post-form-title">Post a new entry</h3>
      <form class="comment-form">
        <table>
          <tr>
            <td>Title:</td><td><input type="text" name="name" id="name"></td>
          </tr>
          <tr>
            <td>Text:</td><td><textarea name="post" id="post" cols="50" rows="10"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" id="button_row"><input type="submit"></td>
          </tr>
        </table>
      </form>
    </div>
</main><!-- .content -->