<footer class="footer">
  <span>DAWeb 2013</span>
  <div class="authors">
    <div class="contacts"><a href="about.html">Contactos</a></div>
  </div>
  <div class="validators"><p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img
      src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
      alt="Valid CSS!" />
    </a>
    <a href="http://validator.nu/">Valid HTML5</a>
  </p></div>
</footer><!-- .footer -->